<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render(@Url.Content("~/Content/css"))
    @Scripts.Render(@Url.Content("~/bundles/modernizr"))
    @Scripts.Render(@Url.Content("~/bundles/jquery"))
    @Scripts.Render(@Url.Content("~/bundles/bootstrap"))
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Query Builder", "Index", "QueryBuilder")</li>
                    <li>@Html.ActionLink("Graph", "Index", "MyGraphNew")</li>
                    <li>@Html.ActionLink("Auto Complete", "Index", "MyAutoComplete")</li>
                    <li>@Html.ActionLink("Timer", "Index", "MyTimer")</li>
                    <li>@Html.ActionLink("Image In Db Upload", "Index", "ImageUploadInDb")</li>
                    <li><a href="javascript:void(0)" id="lnkHelp">Help</a></li>
                </ul>
                <input type="hidden" id="hdnpagename" value="@ViewBag.hdnpagename" />
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="queryBuilder" style="display:none">
                            <div id="pf5" class="pf w0 h0" data-page-no="5"><div class="pc pc5 w0 h0"><img class="bi x0 y0 w0 h0" alt="" src="Help Images/bg5.png" /><div class="t m0 x4 h3 y4 ff1 fs2 fc1 sc0 ls0 ws0">www.geminisolutions.in</div><div class="t m0 x5 h1 y1a ff1 fs3 fc2 sc0 ls0 ws0">Query builder<span class="_ _1"></span><span class="fs0">– </span>How it works</div><div class="t m0 x8 h8 y1b ff2 fs6 fc3 sc0 ls0 ws0">Work flow using JIRA </div><div class="t m0 x8 h8 y1c ff2 fs6 fc3 sc0 ls0 ws0">prevents execution of </div><div class="t m0 x8 h8 y1d ff2 fs6 fc3 sc0 ls0 ws0">malicious queries. </div><div class="t m0 x8 h8 y1e ff2 fs6 fc3 sc0 ls0 ws0">(E.g.. DML queries are </div><div class="t m0 x8 h9 y1f ff2 fs6 fc3 sc0 ls0 ws0">executed after <span class="_ _1"></span><span class="ff3">peer </span></div><div class="t m0 x8 h9 y20 ff3 fs6 fc3 sc0 ls0 ws0">review <span class="ff2">and approval)</span></div><div class="t m0 x8 h9 y21 ff3 fs6 fc3 sc0 ls0 ws0">Commit-Rollback </div><div class="t m0 x8 h8 y22 ff2 fs6 fc3 sc0 ls0 ws0">feature. Specially </div><div class="t m0 x8 h9 y23 ff3 fs6 fc3 sc0 ls0 ws0">rollback for Sybase</div><div class="t m0 x9 h9 y24 ff3 fs6 fc3 sc0 ls0 ws0">Expected rows </div><div class="t m0 x9 h9 y25 ff3 fs6 fc3 sc0 ls0 ws0">affected<span class="ff2"> for DML </span></div><div class="t m0 x9 h8 y26 ff2 fs6 fc3 sc0 ls0 ws0">queries.</div><div class="t m0 xa h9 y27 ff3 fs6 fc3 sc0 ls0 ws0">track all the ad-</div><div class="t m0 xa h9 y28 ff3 fs6 fc3 sc0 ls0 ws0">hoc database </div><div class="t m0 xa h9 y29 ff3 fs6 fc3 sc0 ls0 ws0">activities by </div><div class="t m0 xa h9 y2a ff3 fs6 fc3 sc0 ls0 ws0">auditing</div></div><div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div></div>
                            <div id="pf6" class="pf w0 h0" data-page-no="6"><div class="pc pc6 w0 h0"><img class="bi x0 y0 w0 h0" alt="" src="Help Images/bg6.png" /><div class="t m0 x4 h3 y4 ff1 fs2 fc1 sc0 ls0 ws0">www.geminisolutions.in</div><div class="t m0 x5 h1 y1a ff1 fs3 fc2 sc0 ls0 ws0">Query builder<span class="fs0">– <span class="_ _1"></span></span>How it works (contd..)</div></div><div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>

</html>
<link rel="stylesheet" href="HelpCSS/base.min.css" />
<link rel="stylesheet" href="HelpCSS/fancy.min.css" />
<link rel="stylesheet" href="HelpCSS/main.css" />
<script src="Help JS/compatibility.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#lnkHelp').click(function () {
            //$('#hdnpagename').val('testing');
            //var url = "/Help.html?pageId=" + $('#hdnpagename').val();
            //window.open(url);
            $('.' + $('#hdnpagename').val()).css("display", "block");
            $('#myModal').modal().show();
        });
    });

</script>
